SECRET_KEY=replace-this-secret
DATABASE_URL=mysql+pymysql://root:CarDatabase123!%40%23@srv-captain--carbookdb-db:3306/carbook
WEBHOOK_SECRET=replace-with-random-secret
TARGET_BRANCH=main
S3_ENDPOINT_URL=https://s3.root-dynamics.com
S3_API_ENDPOINT_URL=https://s3-api.root-dynamics.com
S3_PUBLIC_BASE_URL=https://s3.root-dynamics.com
S3_BUCKET=trackops
S3_ACCESS_KEY=123456
S3_SECRET_KEY=7890
S3_USERNAME=osw
S3_PASSWORD=s3password
