Flask==3.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
PyMySQL==1.1.1
email-validator==2.2.0
cryptography==45.0.2
python-dotenv==1.1.0
gunicorn==23.0.0
requests==2.32.3
boto3==1.38.18
stripe==12.2.0
